<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cupcake</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>


  <form action="">

    <label for="">flavor</label>
    <input type="text" id="flavor">

    <label for="">size</label>
    <input type="text" id="size">

    <label for="">rating</label>
    <input type="text" id="rating">

    <label for="">image_url</label>
    <input type="text" id="image_url">

    <button id="add-cupcake-button">Submit</button>

  </form>

  <ul id="Cupcake-list">

  </ul>

  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.js"
    integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
    crossorigin="anonymous"></script>
  <script src="/static/script.js"></script>


</body>

</html>